src/main/resources/wsdl/EmployeeDetails.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://sample.wsdlfirst.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmpDataService"
	targetNamespace="http://sample.wsdlfirst.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://sample.wsdlfirst.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://sample.wsdlfirst.com/" version="1.0">


			<xs:complexType name="employeeData">
				<xs:sequence>
					<xs:element minOccurs="0" name="empId" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="age" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getEmployeeRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="empId" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getEmployeeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="employeeData" type="tns:employeeData" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getEmployeeRequest"
				type="tns:getEmployeeRequest" />

			<xs:element name="getEmployeeResponse"
				type="tns:getEmployeeResponse" />

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="getEmployeeRequest">
		<wsdl:part element="tns:getEmployeeRequest"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmployeeResponse">
		<wsdl:part element="tns:getEmployeeResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>



	<wsdl:portType name="EmpDataPortType">
		<wsdl:operation name="getEmpData">
			<wsdl:input message="tns:getEmployeeRequest"
				name="getEmployeeRequest">
			</wsdl:input>
			<wsdl:output message="tns:getEmployeeResponse"
				name="getEmployeeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EmpDataServiceSoapBinding"
		type="tns:EmpDataPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEmpData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getEmployeeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEmployeeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EmpDataService">
		<wsdl:port binding="tns:EmpDataServiceSoapBinding"
			name="EmpDataPortType">
			<soap:address
				location="http://localhost:8080/wsdlfirstws/services/empDataService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>